/** @format */
@media (max-width: 576px) {
  .container {
    max-width: 600px;
  }

  .nav__menu-contact {
    display: none;
  }

  .nav__desktop-menu {
    display: none;
  }

  .introduction__social__keyframes {
    display: none;
  }
  .services__h2 {
    font-size: 1.2rem;
  }
  .about-us__img-content {
    display: none;
  }
  .abut-us__types-insurance {
    flex-wrap: wrap;
  }
  .abut-us__description-title-h3 {
    font-size: 1.4rem;
  }
  .abut-us__description-title-p,
  .abut-us__description-title-span {
    font-size: 1.2rem;
  }
  .abut-us__types-insurance-img {
    margin-top: 2rem;
  }
  .abut-us__types-insurance-img img {
    width: 100%;
  }
  .categories__text p {
    font-size: 1.2rem;
  }
  .categories__image {
    display: none;
  }
  .categories__card {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 600px;
  }

  .nav__menu-contact {
    display: none;
  }

  .nav__desktop-menu {
    display: none;
  }
  .abut-us__types-insurance {
    flex-wrap: wrap;
  }
  .about-us__description {
    width: 100%;
  }
  .about-us__img-content {
    display: none;
  }
  .services__h2 {
    font-size: 2rem;
  }
  .categories__text p {
    font-size: 1.2rem;
  }
  .categories__image {
    display: none;
  }
  .categories__card {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 800px;
  }
  .services__h2 {
    font-size: 5rem;
  }
  .nav__menu-contact {
    display: block;
  }

  .nav__desktop-menu {
    display: flex;
  }

  .nav__desktop-item a span {
    font-size: 1.2rem;
  }
  .nav__desktop-item a svg {
    font-size: 1.2rem;
  }

  .nav__menu-contact {
    font-size: 1.2rem;
  }
  .nav__menu-contact a {
    font-size: 1.2rem;
  }
  .nav__menu-search-icon,
  .nav__menu-phone-icon {
    width: 3rem;
    height: 3rem;
  }

  .nav__menu-phone-icon svg {
    width: 1.2rem;
  }
  .nav__menu-search-icon svg {
    width: 1.2rem;
  }

  .introduction__content {
    height: 600px;
  }

  .introduction__title {
    max-width: 66%;
  }
  .introduction__title-h3 {
    font-size: 4.5rem;
  }
  .introduction__title-p {
    font-size: 1.4rem;
  }
  .nav__menu-dropdown,
  .nav__menu-menu-icon {
    display: none;
  }
  .about-us__description {
    width: inherit;
  }
  .about-us__img-content {
    display: flex;
    flex-grow: 1;
    object-fit: cover;
    display: none;
  }
  .categories__card-image {
    display: flex;
  }
  .categories__content {
    gap: 2rem;
  }
  .categories__text p {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1100px;
  }
  .introduction__title {
    max-width: 66%;
  }

  .nav__desktop-item a span {
    font-size: 1.6rem;
  }
  .nav__desktop-item a svg {
    font-size: 1.8rem;
  }

  .nav__menu-contact {
    font-size: 1.6rem;
  }
  .nav__menu-contact a {
    font-size: 1.6rem;
  }
  .nav__menu-search-icon,
  .nav__menu-phone-icon {
    width: 3.5rem;
    height: 3.5rem;
  }

  .nav__menu-phone-icon svg {
    width: 1.8rem;
  }
  .nav__menu-search-icon svg {
    width: 1.8rem;
  }

  .categories__card-image {
    display: flex;
  }
  .categories__image {
    display: flex;
  }
  .categories__content {
    gap: 1rem;
  }
  .categories__text p {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
  .categories__card {
    width: 33rem;
    height: 23rem;
  }
  .categories__image {
    width: 40%;
  }
  .categories__image img {
    width: 100%;
  }
  .categories__text p {
    font-size: 4rem;
  }
  .about-us__img-content {
    display: flex;
    /* flex-grow: 0; */
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1440px;
  }
}
